<div id="<%= dom_id account_transaction %>">
  <div><%= account_transaction.normalized_amount%> 
  <div><%= account_transaction.transaction_type%> 
  <div><%= account_transaction.to_datetime.strftime("%D %T")%> 

</div>
